# Diretórios e arquivos desnecessários do Android Studio
.idea/
*.iml
build/
.gradle/

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Arquivos sensíveis
*.keystore
*.env
/app/secrets/
firebase.json


.externalNativeBuild
.cxx
local.properties
/app/src/main/res/raw/doafacil-8bdcc781bc70.json
.kotlin/
gradle.properties
