/build
# Credenciais sensíveis
app/src/main/res/raw/
app/src/main/res/raw/credentials.json
# Credenciais locais
local.properties
# Configurações do Android Studio (não são necessárias no repositório)
.idea/